/* Global styles */

body {
    font-family: century, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #fefefe;
}

.map-container {
    position: relative;
    width: 100%;
    height: 400px;
    /* Adjust height as needed */
    border: 1px solid #ddd;
    margin: 20px 0;
    border-radius: 8px;
    /* Rounded corners */
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.contact-info {
    text-align: center;
    margin-top: 20px;
}

.footer-social {
    margin-bottom: 10px;
}

.contact-info .social {
    grid-column: span 2;
    text-align: center;
}

.contact-info .social .social-item {
    margin-bottom: 20px;
    /* Space between social media items */
}

.contact-info .social a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info .social a img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    /* Space between image and text */
}

.contact-info .social a:hover {
    text-decoration: underline;
}