body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.hero {
    background-color: #ebf2f1;
    color: rgb(11, 11, 11);
    padding: 50px 20px;
    text-align: center;
}

.hero button {
    background-color: #16a085;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.hero button:hover {
    background-color: #149174;
}

.content {
    padding: 20px;
    text-align: center;
}